parameters:
    level: 6
    paths:
        - src/
    ignoreErrors:
        - '#(Function|Constant) ssh2_#'
        - '#Property Cyonima\\Ops\\AbstractOps::\$(ssh(Connection|Tunnel)|sftp) has no type specified#'
